# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Environments
env/
venv/
.venv/
*.egg-info/

# OS / IDE
.DS_Store
*.log
*.out
*.txt
*.pdf
# Data and large folders
checkpoints/
*.pth
*.pkl

# debugging
debug_notebooks/
/classifier/run_config copy.json


