# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Environments
env/
venv/
.venv/
*.egg-info/

# OS / IDE
.DS_Store
*.log
*.out
# Data and large folders
checkpoints/
*.pth
*.pkl

# Classifier outputs
classifier/runs_Resnet/
