blosc2==3.11.0
matplotlib==3.10.7
monai==1.5.1
nibabel==5.3.2
numpy==2.3.4
pandas==2.3.3
pytorch_lightning==2.5.5
scikit_learn==1.7.2
simpleitk==2.5.2
torch==2.5.1
torchio==0.20.23
torchmetrics==1.8.2
torchvision==0.20.1
tqdm==4.67.1
